@import "basic/_layout.scss";
@import "../node_modules/slick/slick/slick.scss",
		"../node_modules/slick/slick/slick-theme.scss";

main {
	.container-fluid {
		>.upper {
			@include display-flex;
		}
		>.lower {
			@include display-flex;
		}
	}
}

.dot_patten {
	position: relative;
	&:before {
		content: '';
		display: block;
		position: absolute;
		z-index: 9;
		top: 0;
		left: 0;
		width:  100%;
		height: 100%;
		@include background(image-url("../images/dot_patten.png"));
		@include background-size(initial);
		background-repeat: repeat;
		opacity: .8;
		@include transition(opacity .28s ease-in);
	}
	&:hover {
		&:before {
			opacity: 0;
		}
	}
	&.dark {
		&:after {
			content: '';
			position: absolute;
			display: block;
			height: 100%;
			width: 100%;
			background: rgba(#000, .14);
			z-index: 99;
			top: 0;
			left: 0;
		}
	}
	img {
		position: relative;
		z-index: -1;
	}
}

%box-text-setup {
	line-height: 1;
	display: inline-block;
	background: rgba($wt, 1);
	margin: 0;
	padding: 5px 8px;
	color: $og;
	@include transition(all .25s ease-out);
	@extend %ff-title;
}

$inactive: $grey;
.box {
	position: relative;
	a {
		display: block;
		//height: 100%;
	}
	.box_img {
		margin-right: -15px;
		margin-left: -15px;
		overflow: hidden;
		img {
			width: 100%;
		}
	}
	.box_word {
		position: absolute;
		z-index: 99;
		bottom: 30px;
		left: 30px;
		@include screen(md) {
			bottom: 30px;
			left: 20px;
		}
		@include screen(sm) {
			bottom: 20px;
			left: 10px;
		}
		@include screen(xs) {
			bottom: 20px;
			left: 10px;
		}
		.upper p {
			@extend %box-text-setup;
			font-size: rem(24);
			font-weight: 300;
		}
		.title h3 {
			@extend %box-text-setup;
			font-size: rem(36);
		}
	}
	&.stretch {
		@include display-flex;
		@include flex-flow(column);
		padding: 0;
		>* {
			@include flex(auto);
			@include display-flex;
		}
	}
	&.multi {
		background: $og;
		padding: 10px 10px 30px;
		@include display-flex;
		@include flex-direction(column);
		@include align-content(stretch);
	}
	.multi-section {
		//padding: 40px;
		//@include flex(auto);
		@include display-flex;
		@include justify-content(center);
		@include align-items(center);
		@include flex(1);
		a {
			@extend %ff-title;
			display: block;
			padding: 0px 30px;
			//@include border-radius(50px);
			@include transition(all .28s ease-in);
			width: 85%;
			text-align: center;
			&:hover {
				opacity: .72;
			}
		}
		.icon {
			display: block;
			font-size: rem(38);
			color: #fff;
			//background: $wt;
			//@include border-radius(50%);
			padding-top: 8px;
		}
		.cfa {
			display: inline-block;
			color: $wt;
			//background: $wt;
			font-size: rem(28);
			//@include border-radius(25px);
			//margin-top: 20px;
			//padding: 0 10px;
		}
		&.goodies a {
			background: #FBCE3B;
			border-bottom: 4px solid darken(#FBCE3B, 14);
		}
		&.activity a{
			background: #ea424f;
			border-bottom: 4px solid darken(#ea424f, 14);
		}
		&.seminar {
			a {
				background: #0d90ba;
				border-bottom: 4px solid darken(#0d90ba, 14);
			}
			.icon {
				font-size: rem(36);
			}
		}
		@include screen(lg) {
			$font-size: rem(28);
			a 	{
				padding: 8px 10px;
				width: 95%;
				//@include display-flex;
				//@include justify-content(flex-start);
				//@include align-items(center);
			}
			&.seminar {
				.icon {font-size: $font-size;}
			}
			.icon {
				display: inline-block;
				padding-top: 0;
				font-size: $font-size;
				margin-right: 5px;
			}
			.cfa {font-size: $font-size;}
		}
		@include screen(md) {
			$font-size: rem(24);
			a {
				padding: 12px 15px;
				width: 100%;
				//@include display-flex;
				//@include justify-content(flex-start);
				//@include align-items(center);
			}
			&.seminar {
				.icon {font-size: $font-size;}
			}
			.icon {
				display: inline-block;
				padding-top: 0;
				font-size: $font-size;
				margin-right: 5px;
			}
			.cfa {font-size: $font-size;}
		}
		&.title {
			background: $og;
			@include justify-content(center);
			@extend %ff-title;
			//border-bottom: 2px solid #fff;
			.headline {
				font-size: rem(40);
				color: #fff;
			}
		}
	}
	.news {
		//border-bottom: 1px solid $og;
		padding: 30px 30px;
		overflow: hidden;
		@include display-flex;
		@include flex-direction(column);
		.title {
			margin-bottom: 8px;
			h3 {
				font-size: rem(28);
				color: $text-bk;
				font-weight: 600;
				@extend %ff-title;
				margin: 0;
				.en {
					font-size: rem(24);
					color: $text-og;
					font-weight: 400;
				}
			}
		}
		.list-group {
			margin-bottom: 5px;
			max-height: 145px;
			overflow: hidden;
			.list-group-item {
				border: 0px;
				padding: 6px 15px 6px 0;
				a {
					font-size: rem(18);
					color: $bk;
					&:hover {
						color: $og;
					}
				}
				.date {
					font-size: rem(15);
					font-weight: 400;
				}
			}
		}
		.btn {
			&.more {
				//float: right;
				background: $grey;
				@include border-radius(25px);
				@include align-self(flex-end);
				color: $wt;
				padding: 0 20px;
				letter-spacing: 1px;
				position: relative;
				z-index: 9;
				&:hover {
					background: $og;
				}
				@include screen(sm) {
					padding: 0 10px;
					font-size: rem(13);
				}
			}
		}
	}
	.banner {
		.banner_img {
			width: 100%;
			margin: 0;
		}
	}
	&.normal {
		.box_img {
			img {
				@include transition(all .3s ease-out)
			}
		}
		&:hover {
			.box_img {
				img {
					@include scale(1.1);
				}
			}
			.box_word {
				.upper p , .title h3 {
					color: $wt;
					background: rgba($og, .8);
					
				}
			}
		}
	}
	&.column {
		@include display-flex;
		@include flex-direction(column);
		padding: 0;
		.news {
			@include flex(1)
		}
		.sponsor-banner {
			img {
				width: 100%;
			}
		}
	}
	.slider {
		margin-bottom: 0;
		.slick-arrow {
			&.slick-prev {
				left: 20px;
				z-index: 9;
			}
			&.slick-next {
				right: 20px;
			}
		}
		.slick-dots {
			bottom: 0;
			li {
				margin: 0 10px;
				button {
					background: $inactive;
					@include border-radius(50%);
					&:before {
						color: transparent;
					}
					&:hover {
						background: $og;
					}
				}
				&.slick-active {
					button {
						background: $og;
					}
				}
			}
		}
	}
}
.slider_village {
	margin: 0;
}

//jQ
.box-arrow {
	//height: 50px;
    //width: 50px;
    z-index: 999;
    position: absolute;
   	cursor: pointer;
   	margin: auto;
   	top: 0;
   	bottom: 0;
   	.icon {
   		position: absolute;
   		display: block;
   		top: 50%;
   		height: 36px;
   		width: 36px;
		&:after, &:before {
			content: '';
			display: block;
			position: relative;	
			height: 3px;
			width: 26px;
		}
   	}
   	&.prev {
		left: 0;
		.icon {
			left: 15+15px;
			&:before {
				@include rotate(-35deg);
				background: $wt;
			}
			&:after {
				@include rotate(35deg);
				background: $og;
				top: 11px;
			}
		}
   	}
   	&.next {
		right: 0;
		.icon {
			right: 15px;
			&:before {
				@include rotate(35deg);
				background: $og;
			}
			&:after {
				@include rotate(-35deg);
				background: $wt;
				top: 11px;
			}
		}
   	}
}

.logo.center {
	position: absolute;
	z-index: 999;
    bottom: -70px;
    left: -190px;
    text-align: center;
    img {
    	width: 84%;
    }
}
.embed-responsive-16by9 {
	//padding-bottom: 28.125%;
}

///
///
.modal-dialog {
	margin-top: 360px;
	.modal-header {
		text-align: center;
		h4 {
			font-size: rem(24);
		}
	}
	.modal-footer {
		border: 0;
		text-align: center;
	}
}


%center-position {
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
%basic-transition {
	@include transition(all .28s ease-in);
}
/////
.gif-wrap {
	position: relative;
	.gif {
		position: relative;
		z-index: 9;
	}
	.btn {
		$size: 60px;
		height: $size;
		width:  $size;
		z-index: 10;
		@extend %center-position;
		background: url('../images/gif/default.png');
		@include transition(all .28s ease-in);
		&:hover {
			background: url('../images/gif/hover.png');
		}
	}
	&.active {
		.embed-responsive-16by9 {
			z-index: 11;
		}
	}
	.embed-responsive-16by9 {
		margin-top: -56.25%;
	}
}

/*
.video-container {
		height: 100%;
		width: 100%;
		position: relative;
		top: 0;
		@include transition(all .28s ease-in);
	.background {
		width: 100%;
		height: 100%;
		@include transition(all .28s ease-in);
		background: rgba(#000, 0);
		position: fixed;
	}
	&.active {
		z-index: 999;
		position: absolute;
		.background {
			background: rgba(#000, .85);
		}
	}
	.close-btn {
		$size: 50px;
		width:  $size;
		height: $size;
		position: absolute;
		right: 20px;
		top:   20px;
		cursor: pointer;
		&:after, &:before {
			content: '';
			height: 2px;
			width: 40px;
			background: #fff;
			display: block;
			@extend %center-position;
			@extend %basic-transition;
		}
		&:after {
			@include rotate(45deg);
		}
		&:before {
			@include rotate(-45deg);
		}
		&:hover {
			&:after, &:before {
				background: red;
			}
		}
	}
}
*/
.pdf-wrap {
	display: none;
	position: fixed;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	text-align: center;
	&.active {
		display: block;
	}
	.pdf-bg	{
		background: rgba(#000, .82);
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: -1;
	}
	.close-btn {
		$size: 50px;
		width:  $size;
		height: $size;
		position: absolute;
		right: 20px;
		top:   20px;
		cursor: pointer;
		&:after, &:before {
			content: '';
			height: 2px;
			width: 40px;
			background: #fff;
			display: block;
			@extend %center-position;
			@extend %basic-transition;
		}
		&:after {
			@include rotate(45deg);
		}
		&:before {
			@include rotate(-45deg);
		}
		&:hover {
			&:after, &:before {
				background: red;
			}
		}
	}
}