@import "../basic/_layout.scss";



///
///
.modal-dialog {
	margin-top: 360px;
	.modal-header {
		text-align: center;
		h4 {
			font-size: rem(24);
		}
	}
	.modal-footer {
		border: 0;
		text-align: center;
	}
}