//@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url(http://fonts.googleapis.com/earlyaccess/cwtexyen.css);
/*	color schema	*/
$og: #ffa800;
$og-light: #fef8eb;
$og-dark: #9c6200;

$bk: #000;
$wt: #fff;
$grey: #bbb;

$text-og: $og;
$text-wt: #f8f7ed;
$text-bk: #0c1318;
$text-grey: #949494;

$disable: $grey;


/*	font-setting	*/


$bootstrap-default: 10;
//$bootstrap-default: 10*0.85;  //圓體校正
@function rem($pixels, $context: $bootstrap-default) {
	@return #{$pixels/$context}rem;
}
body {
	font-family:"Helvetica Neue",Helvetica,"PingFangTC-Regular",
				"儷黑 Pro", "LiHei Pro", "微軟正黑體",
				"Microsoft JhengHei",Arial,"新細明體",
				sans-serif;
}

%ff-title {
	font-family:"cwTeXYen","Helvetica Neue",Helvetica,
				"PingFangTC-Regular",
				"儷黑 Pro", "LiHei Pro", "微軟正黑體",
				"Microsoft JhengHei",Arial,"新細明體",
				sans-serif;
}
/*
	font-family: PingFangTC-Regular, sans-serif;
	font-family: PingFangTC-Ultralight, sans-serif;
	font-family: PingFangTC-Light, sans-serif;
	font-family: PingFangTC-Thin, sans-serif;
	font-family: PingFangTC-Medium, sans-serif;
	font-family: PingFangTC-Semibold, sans-serif;
 */