$sponsor-spacing: 20px;
$sponsor-dimensions: true;
//$sponsor-layout: horizontal;
@import "sponsor/*.png";
@include all-sponsor-sprites;

//linkToClass(.folderName-imgName)
.sponsor-trifi {
	//width: image-width('sponsor/trifi.png');
	//height: image-height('sponsor/trifi.png');
}
.sponsor-MOTC {
	width: image-width('sponsor/MOTC.png');
	height: image-height('sponsor/MOTC.png');
}
.sponsor-uni {
	width: image-width('sponsor/uni.png');
	height: image-height('sponsor/uni.png');
}
//////
.sponsor-familyM {
	width: image-width('sponsor/familyM.png');
	height: image-height('sponsor/familyM.png');
}
.sponsor-sony {
	width: image-width('sponsor/sony.png');
	height: image-height('sponsor/sony.png');
}
.sponsor-kingyo {
	width: image-width('sponsor/kingyo.png');
	height: image-height('sponsor/kingyo.png');
}
