@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/cwtexyen.css);
/*	color schema	*/
/*	font-setting	*/
body {
  font-family: "cwTeXYen","Helvetica Neue",Helvetica, "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", Arial,"新細明體",sans-serif;
}

.sponsor-sprite, .sponsor-AE, .sponsor-MOTC, .sponsor-bestRadio, .sponsor-bu, .sponsor-familyM, .sponsor-gomaji, .sponsor-kingyo, .sponsor-kuos, .sponsor-sony, .sponsor-trifi, .sponsor-uni {
  background-image: url('../../images/sponsor-s45e764532a.png');
  background-repeat: no-repeat;
}

.sponsor-AE {
  background-position: 0 0;
}

.sponsor-MOTC {
  background-position: 0 -48px;
}

.sponsor-bestRadio {
  background-position: 0 -90px;
}

.sponsor-bu {
  background-position: 0 -143px;
}

.sponsor-familyM {
  background-position: 0 -201px;
}

.sponsor-gomaji {
  background-position: 0 -243px;
}

.sponsor-kingyo {
  background-position: 0 -290px;
}

.sponsor-kuos {
  background-position: 0 -332px;
}

.sponsor-sony {
  background-position: 0 -381px;
}

.sponsor-trifi {
  background-position: 0 -415px;
}

.sponsor-uni {
  background-position: 0 -459px;
}

.sponsor-trifi {
  width: 81px;
  height: 24px;
}

.sponsor-MOTC {
  width: 144px;
  height: 22px;
}

.sponsor-uni {
  width: 64px;
  height: 22px;
}

.sponsor-familyM {
  width: 83px;
  height: 22px;
}

.sponsor-sony {
  width: 81px;
  height: 14px;
}

.sponsor-kingyo {
  width: 109px;
  height: 22px;
}

.sponsor-kuos {
  width: 50px;
  height: 29px;
}

.sponsor-AE {
  width: 114px;
  height: 28px;
}

.sponsor-bestRadio {
  width: 58px;
  height: 33px;
}

.sponsor-bu {
  width: 64px;
  height: 38px;
}

.sponsor-gomaji {
  width: 90px;
  height: 27px;
}

a:hover, a:active, a:focus, button:hover, button:active, button:focus {
  text-decoration: none;
  outline: none;
}

body {
  min-width: 1366px;
}

body > .header {
  background: rgba(255, 168, 0, 0.8);
}
body > .header > nav.navbar {
  border: 0;
  margin: 0;
}
body > .header > nav.navbar > .row {
  display: -webkit-flex;
  display: flex;
}
body > .header > nav.navbar .navbar-header {
  padding: 0;
}
body > .header > nav.navbar .navbar-header .navbar-brand {
  padding: 0;
  position: relative;
  z-index: 99;
}
body > .header .list li a {
  font-size: 2.1rem;
  font-weight: 300;
  letter-spacing: 2px;
  color: #0c1318;
  padding: 10px 45px;
}
body > .header .list li a .en {
  display: block;
  font-size: 1.6rem;
  line-height: 1.8;
  font-weight: 400;
  letter-spacing: 1px;
  color: #f8f7ed;
  text-align: center;
}
body > .header .list li a:hover, body > .header .list li a:focus {
  background: #ffa800;
  color: #f8f7ed;
}
@media only screen and (min-width: 1201px) and (max-width: 1440px) {
  body > .header .list li a {
    font-size: 1.8rem;
  }
  body > .header .list li a.en {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1199px) {
  body > .header .list li a {
    font-size: 1.8rem;
  }
  body > .header .list li a.en {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 768px) {
  body > .header .list li a {
    font-size: 1.8rem;
  }
  body > .header .list li a.en {
    font-size: 1.2rem;
  }
}
body > .header .lang {
  color: #9c6200;
  font-size: 2.1rem;
  font-weight: 900;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}
body > .header .lang > .nav {
  display: -webkit-flex;
  display: flex;
}
body > .header .lang > .nav li {
  align-self: center;
  width: 34px;
  height: 34px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  text-align: center;
  padding: 2px;
  margin: 0 4px;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0);
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
body > .header .lang > .nav li.en {
  font-weight: 400;
  font-size: 1.9rem;
  line-height: 1.45;
}
body > .header .lang > .nav li.active {
  color: #ffa800;
  background: #fff;
}
body > .header .lang > .nav li.active:hover {
  color: #ffa800;
}
body > .header .lang > .nav li:hover {
  border: 1px solid #fff;
  color: #fff;
}

body > .footer > .top {
  background: #fef8eb;
  padding-top: 20px;
}
body > .footer > .top .time {
  position: relative;
  bottom: 0px;
}
@media only screen and (min-width: 1441px) {
  body > .footer > .top .time {
    bottom: -60px;
  }
}
body > .footer > .top .time .title {
  font-size: 28px;
  color: #ffa800;
  margin: 0 20px 10pxs;
}
body > .footer > .top .time .time_content .unit {
  border: 3px solid #ffa800;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  display: inline-block;
  padding: 8px 20px;
  color: #ffa800;
  font-family: "Corbel";
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  text-align: center;
  margin-right: 40px;
}
body > .footer > .top .time .time_content .unit h6 {
  font-size: 6.4rem;
  font-weight: bold;
  font-style: italic;
  margin: 0;
}
body > .footer > .top .time .time_content .unit p {
  font-size: 1.8rem;
}
body > .footer > .top .footer_bear img {
  width: 100%;
}
body > .footer > .top .sponsor {
  margin: 20px 0;
}
body > .footer > .top .sponsor .upper {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  margin-bottom: 10px;
}
body > .footer > .top .sponsor .upper .sponsor_unit {
  margin-right: 60px;
}
@media only screen and (min-width: 1201px) and (max-width: 1440px) {
  body > .footer > .top .sponsor .upper .sponsor_unit {
    margin-right: 20px;
  }
}
body > .footer > .top .sponsor .lower {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}
body > .footer > .top .sponsor .sponsor_unit {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
body > .footer > .top .sponsor .sponsor_unit > .title {
  display: inline-block;
  color: #636363;
  margin-right: 12px;
}
body > .footer > .top .sponsor .sponsor_unit > .content {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
body > .footer > .top .sponsor .sponsor_unit > .content div[class^="sponsor"] {
  margin-right: 20px;
}
body > .footer > .top .counter {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  background: #ffa800;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  padding: 3px 30px;
  margin-left: 20px;
}
body > .footer > .top .counter > .title {
  margin-right: 20px;
  color: #fff;
}
body > .footer > .top .counter > .content {
  font-size: 2.6rem;
  color: #fff;
}
body > .footer > .bottom {
  background: #ffa800;
  color: #f8f7ed;
  font-size: 1.4rem;
}
body > .footer > .bottom .copy {
  text-align: center;
  margin-top: 16px;
  margin-bottom: 16px;
}
body > .footer > .bottom p {
  margin: 0;
}
body > .footer > .bottom p:first-of-type {
  margin-bottom: 4px;
}

.modal-dialog {
  margin-top: 360px;
}
.modal-dialog .modal-header {
  text-align: center;
}
.modal-dialog .modal-header h4 {
  font-size: 2.4rem;
}
.modal-dialog .modal-footer {
  border: 0;
  text-align: center;
}
